In [1]:
import netCDF4
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
from collections import defaultdict
import sklearn
from sklearn import linear_model
import numpy
import random
import gzip
import math

In [14]:
directory = "dataset/Copernicus_ENA_Satelite_Maps_Training_Data"
data = []

for filename in os.listdir(directory):
    if filename.endswith(".nc"):
        file_path = os.path.join(directory, filename)

        # Extract the date part from the filename and format it
        date_str = filename.split("_")[2]
        if len(date_str) == 8:
            formatted_date = f"{date_str[4:6]}-{date_str[6:8]}-{date_str[:4]}"

            # Open the .nc file
            dataset = netCDF4.Dataset(file_path, mode="r")

            # Extract the 'sla' variable
            sla = dataset.variables["sla"][:][0]

            data.append({'Date': formatted_date, 'Map': sla})
            
df = pd.DataFrame(data)
df.head()

         Date                                                Map
0  01-01-1993  [[--, --, --, --, --, --, --, --, 0.0713, 0.07...
1  01-02-1993  [[--, --, --, --, --, --, --, --, 0.0727, 0.07...
2  01-03-1993  [[--, --, --, --, --, --, --, --, 0.0743, 0.07...
3  01-04-1993  [[--, --, --, --, --, --, --, --, 0.0759000000...
4  01-05-1993  [[--, --, --, --, --, --, --, --, 0.0763, 0.07...

In [16]:
# Create a DataFrame from the results
columns = [
    "Date",
    "Average_SLA",
    "Atlantic City",
    "Baltimore",
    "Eastport",
    "Fort Pulaski",
    "Lewes",
    "New London",
    "Newport",
    "Portland",
    "Sandy Hook",
    "Sewells Point",
    "The Battery",
    "Washington",
]
results_df = pd.DataFrame(results, columns=columns)

In [17]:
results_df = results_df.drop(columns=["Average_SLA"])

In [20]:
output_csv_path = r"demo_sla.csv"

In [21]:
results_df.to_csv(output_csv_path, index=False)